{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Login </legend>
                <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}   
                </div>
                <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}   
                </div>
                <div class="form-group ml-4">
                    {{ form.remember(class="form-check-input")}}
                    {{ form.remember.label(class="form-check-label")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Passsword</a>
            </small>

        </form>  

    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            <!-- In url_for function the argument is the method name in the form not the route name -->
            <!-- That is in Registration Form there is a method login & it's route name is login -->
            <!-- The method name should be sent as argument in url_for function -->
            Need an Account ? <a class="ml-2" href="{{ url_for('register') }}"> Register Here </a>
        </small>

    </div>
{% endblock content %}